$brown: #b13641;

.container {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 30px;
    padding: 25px 0;
    border-bottom: 1px solid #eee;

    color: $brown;

    .user-icon {
        color: #666;
        border-radius: 50%;
        border: 2px solid $brown;
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }
    .notification-icon {
        position: relative;
        display: flex;
        mat-icon {
            font-size: 25px;
            height: 25px;
            width: 25px;
        }
        .count {
            position: absolute;
            background-color: $brown;
            color: white;
            padding: 2px 3px;
            font-size: 8px;
            top: -3px;
            right: -3px;
            border-radius: 6px;
            line-height: 1.2;
        }
    }
}

.d-flex {
    display: flex;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.expand {
    flex: 1;
}

.gap {
    gap: 40px;
}

.text-success {
    color: darkseagreen;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.text-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.border-bottom {
    border-bottom: 1px solid #e0e0e0;
}

button {
    min-width: 125px;
    padding: 5px 8px;
    border: 1px solid #c39;
    border-radius: 4px;
}

button.outline-btn {
    background: white;
    color: #c39;
}

button.filled-btn {
    color: white;
    background-color: #c39;
}

button.icon-btn {
    display: flex;align-items: center;justify-content: center;
    mat-icon {
        font-size: 14px;
        height: 14px;width: 14px;
        margin-right: 5px;
    }
}

.placeholder-color {
    color: #999;
}

input, select {
    padding: 8px 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    width: 100%;
    transition: all 0.2s ease-in-out;
    &:focus {
        box-shadow: 0 0 0px 2px #b136418c;
    }

    &::placeholder { 
        color: #999;
        opacity: 1; 
    }
}

form.form-section {
    .form-wrapper {
        margin-top: 15px;
        padding: 35px 80px;
        background-color: #f8f5f6;

        h2 {
            border-bottom: 1px solid #e0e0e0;
            font-size: 22px;
            font-weight: normal;
            margin-bottom: 0;
        }

        .patient-info {
            padding: 30px 0;
        }


        label {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            span {
                font-size: 12px;
                color: #666;
                margin-bottom: 3px;
            }
        }


    }
}

form.submitted {
    input.ng-invalid, select.ng-invalid {
        box-shadow: 0 0 0px 2px red;
    }
}

.pop-up-wrapper {
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: #00000042;
    display: flex;
    align-items: center;
    justify-content: center;
    .popup {
        padding: 10px 60px;
        background-color: white;
        border-radius: 4px;
    }
}

.icon-lg {
    font-size: 50px;
    height: 50px;
    width: 50px;
}