<header>
  <div class="user-icon">
    C
  </div>
  <div class="notification-icon">
    <mat-icon >notifications_none</mat-icon>
    <span class="count">12</span>
  </div>
</header>

<!-- Patient form -->
<form class="form-section" [class.submitted]="formSubmitted" [formGroup]="patientForm" (ngSubmit)="save()">
  <div class="form-wrapper container">
    <h2>Create patient</h2>
    <div>

      <div class="d-flex gap patient-info border-bottom">
        <label class="expand">
          <span>Patient ID</span>
          <input type="text" formControlName="patientID" placeholder="Enter patient ID">
        </label>
        
        <label class="expand">
          <span>Password</span>
          <input type="text" formControlName="password" placeholder="Enter patient's password">
        </label>
      </div>


      <div class="d-flex gap py-20">
        <div class="d-flex gap expand">
          <label class="expand">
            <span>Age</span>
            <input formControlName="age" type="number" placeholder="Age">
          </label>
          
          <label class="expand">
            <span>Sex</span>
            <input formControlName="gender" type="text" placeholder="Sex">
          </label>
        </div>
        <div class="d-flex gap expand">
          <label class="expand">
            <span>Height</span>
            <input formControlName="height" type="number" placeholder="Height">
          </label>
          
          <label class="expand">
            <select formControlName="heightUnit">
              <option value="">Select</option>
              <option value="cm">cm</option>
              <option value="ft">ft</option>
            </select>
          </label>
        </div>
      </div>


      <div class="d-flex gap py-20">
        <div class="d-flex gap expand">
          <label class="expand">
            <span>Weight</span>
            <input formControlName="weight" type="number" placeholder="Weight">
          </label>
          
          <label class="expand">
            <select formControlName="weightUnit">
              <option value="">Select</option>
              <option value="lb">lb</option>
              <option value="kg">kg</option>
            </select>
          </label>
        </div>
        <div class="d-flex gap expand">
          
          <label class="expand">
            <span>Country</span>
            <select formControlName="country">
              <option value="">Select</option>
              <option value="INDIA">India</option>
              <option value="SINGAPORE">Singapore</option>
            </select>
          </label>
        </div>
      </div>      
      
      
      <div class="d-flex gap py-20 border-bottom">
        <div class="d-flex gap expand">
          
          <label class="expand">
            <span>Medication</span>
            <select [formControl]="medicationControl">
              <option value="">Select</option>
              <option [ngValue]="true">yes</option>
              <option [ngValue]="false">no</option>
            </select>
          </label>
        </div>
        <div class="d-flex gap expand">
        </div>
      </div>



      <!-- Medication section -->
      <div formArrayName="medications" class="border-bottom" *ngFor="let group of medicationsFormArrayControls; index as index">
        <div [formGroupName]="index">
          <div class="d-flex gap py-20">
            <div class="d-flex gap expand">
              
              <label class="expand">
                <span>Medication type</span>
                <select formControlName="medicationType">
                  <option value="">Select</option>
                  <option value="pain">Pain</option>
                  <option value="harmone">Harmone</option>
                </select>
              </label>
            </div>
            <div class="d-flex gap expand">
            
              <label class="expand">
                <span>Medication name</span>
                <input formControlName="medicationName" type="text" placeholder="Enter medication name">
              </label>
            </div>
          </div>
    
    
          <div class="d-flex gap py-20">
            <div class="d-flex gap expand">
              <label class="expand">
                <span>Medication dose</span>
                <input formControlName="medicationDosage" type="number" placeholder="dose">
              </label>
              
              <label class="expand">
                <select formControlName="medicationUnit">
                  <option value="">Select</option>
                  <option value="mg">mg</option>
                  <option value="ml">ml</option>
                </select>
              </label>
            </div>
            <div class="d-flex gap expand">
              <label class="expand">
                <span>No of pills(optional)</span>
                <input formControlName="medicationCount" type="number" placeholder="no of pills">
              </label>
    
              <div class="expand"></div>
            </div>
          </div>
    
    
          <div class="d-flex gap py-20">
            <div class="d-flex gap expand">
              <label class="expand">
                <span>Instructions</span>
                <input formControlName="specifications" type="text" placeholder="Instructions">
              </label>
            </div>
          </div>
    
          <div class="py-20">
            <button (click)="deleteMedication(index)" type="button" class="outline-btn">Delete medication</button>
          </div>
        </div>
      </div>
      <!-- / Medication section -->

      
      <div class="pt-20" *ngIf="medicationValue">
        <button type="button" (click)="addMedication()" class="outline-btn d-flex icon-btn"><mat-icon>add</mat-icon>Add medication</button>
      </div>


    </div>
  </div>


  <div class="container py-20 d-flex gap">
    <button type="button" (click)="cancel()" class="outline-btn">
      Cancel
    </button>
    <button type="submit" class="filled-btn">Submit</button>
  </div>
</form>
<!-- / Patient form -->



<!-- Submit popup -->
<div class="pop-up-wrapper" *ngIf="showPopup" (click)="showPopup = false">
  <div class="popup text-center" (click)="$event.stopPropagation(); $event.preventDefault()">
    <mat-icon class="text-success icon-lg">check_circle_outline</mat-icon>
    <h3 class="text-success">Success!</h3>
    <p>Patient has been created successfully</p>
    <pre class="text-align-left">
      {{ patientForm?.value | json}}
    </pre>
  </div>
</div>
<!-- / Submit popup -->